<br/>
<p align="justify">Sprzedając bądź wynajmując mieszkanie niewiele z nas zwraca uwagę na jakość zdjęcia w ogłoszeniu, najczęściej robimy je sami jakimś kompaktem albo jeszcze gorzej telefonem komórkowym. Często uważamy że najważniejszą inwestycją w tego typu przedsięwzięciu jest opłacenie samego ogłoszenia, myślimy że dobre zdjęcia są swojego rodzaju luksusem. Oto dlaczego się myli:</p>

<table id="tabela_oferta">
	<tr>
		<td><%= image_tag("bad_picture.jpg", :alt => "image") %></td>
		<td><%= image_tag("before_after.png", :alt => "image", :id => "before_after") %></td>
		<td><%= image_tag("good_picture.jpg", :alt => "image") %></td>
	</tr>
</table>

<p align="justify" style="clear: left">Zdjęcia mieszkania lub domu jest pierwszym kontaktem potencjalnego klienta z naszą nieruchomością, nie mogą zatem wyglądać jak te po lewej. Ja swoim klientom oferuję usługi najwyższej jakości, do każdego podchodzę indywidualnie, nad każdym projektem pracuję starannie i do  czasu aż zarówno ja, jak i mój klient nie będziemy zadowoleni.<br/><br/>
Ceny moich usług nie są sztywne i zależą od takich czynników jak: typ nieruchomości, wielkość nieruchomości, ilość pokoi, przynależność podwórka albo terasy, ilości pożądanych zdjęć oraz ewentualnych dodatkowych zdjęć szczegółów. W celu otrzymania wyceny proszę o wypełnienie formularza kontaktowego w zakładce Kontakt.
</p>