<div class="references_divider">
</div>
<table class="references_table">
	<tr>
		<td class="td_1">Dmitriy jest moim przyjacielem od lat, ostatnio dowiedziałem się że w końcu zajął się fotografią zawodowo. Podczas jego wakacji w Kanadzie poprosiłem aby strzelił kilka zdjęć moich apartamentów które zamierzałem sprzedać za kilka miesięcy. Powiedział że z chęcią to zrobi. Pokonał w tym celu kilkaset kilometrów, poprosił abym przygotował mieszkanie, spędził w nim trochę czasu i po kilku dniach dostałem zdjęcia jakie ostatecznie zostały głównym silnikiem sprzedaży.</td>
		<td><%= image_tag("references/001.jpg", :alt => "image", :class => "references_images") %></td>
	</tr>
</table>

<div class="references_divider">
</div>
<table class="references_table">
	<tr>
		<td class="td_1">Nie wiem jakiego typu zlecenia Dmitriy częściej otrzymuje, zdecydowanie w przypadku wynajmu mieszkania, proporcjonalnie jest to znacznie większy wydatek. Przez kilka miesięcy próbowałem wynająć swoje, bardzo nowoczesne, usytuowane w Piasecznie pod Warszawą, ze zdjęciami zrobionymi telefonem – bezskutecznie! Dmitriy to zmienił szybko, fachowo i niedrogo. Uważam że dobre zdjęcia to podstawa, a dobry fotograf to artysta!</td>
		<td><%= image_tag("references/002.jpg", :alt => "image", :class => "references_images") %></td>
	</tr>
</table>

<div class="references_divider">
</div>
<table class="references_table">
	<tr>
		<td class="td_1">Zawsze myślałem że posiadanie dużego domu, w bardzo spokojnej i zielonej okolicy jest czymś, czego pragnie każdy, a jak w końcu będę chciał sprzedać swoją posiadłość, to najważniejsze jest znalezienie dobrego agenta nieruchomości. Myliłem się. Okazało się że podczas sprzedaży dobry fotograf jest nie mniej ważny niż agent, notariusz czy nawet bank kredytujący. Dziękuję Dmitriy za bardzo dobre zdjęcia.</td>
		<td><%= image_tag("references/003.jpg", :alt => "image", :class => "references_images") %></td>
	</tr>
</table>

<div class="references_divider">
</div>