<%= image_tag("home_cover.jpg", :alt => "image") %>

<h3 class="line_height_home">Fotografia Wnętrz Nieruchomości i Architektury</h3>

<p align="justify">"Urodzony z aparatem w ręku" - tak nazywa mnie większość moich znajomych przez prawie całe moje życie. Fotografia jest moją pasją, fotografia nieruchomości moim powołaniem. Wraz z dominującą cechą mojego charakteru, perfekcjonizmem, każde moje zdjęcie wygląda jak prawdziwe dzieło sztuki. Zwracam uwagę na najdrobniejsze szczegóły, wiem co należy podkreślić w zdjęciu, a co ukryć. Wiem jak zaaranżować pokój i jakiego światłą użyć aby przyciągnąć uwagę klienta. </br></br>
Specjalizuję się w fotografii mieszkań, domów i apartamentów przeznaczonych na sprzedaż lub wynajem. Na co dzień działam w Warszawie i okolicach, w przypadku ciekawych projektów nie wykluczam podróże na terenie całej Polski i poza nią. </br></br> </p>
<p class="line_height_home" align="right"> Pozdrawiam i zapraszam do współpracy, </p>
<p id="sign" align="right"> Dmitriy Kanunnikov </p>